name: Demo

on:
  pull_request:
    branches: ["sandbox", "development", "staging", "main"]

env:
  LAMBDAS: app01 app02

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      app01: ${{ steps.filter.outputs.app01 }}
      app02: ${{ steps.filter.outputs.app02 }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Detect Lambda changes
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            app01:
              - 'lambdas/app01/**'
            app01:
              - 'lambdas/app02/**'

  lint:
    needs: detect-changes
    runs-on: ubuntu-latest
    strategy:
      matrix:
        lambda: [app01, app02]
    if: |
      (matrix.lambda == 'app01' && needs.detect-changes.outputs.app01 == 'true') ||
      (matrix.lambda == 'app02' && needs.detect-changes.outputs.app02 == 'true') 
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Download Go dependencies
        run: go mod tidy
        working-directory: ./lambdas/${{ matrix.lambda }}

      - name: Run Go Lint
        run: |
          go install golang.org/x/lint/golint@latest
          golint ./...
        working-directory: ./lambdas/${{ matrix.lambda }}

  test:
    needs: detect-changes
    runs-on: ubuntu-latest
    strategy:
      matrix:
        lambda: [app01, app02]
    if: |
      (matrix.lambda == 'app01' && needs.detect-changes.outputs.app01 == 'true') ||
      (matrix.lambda == 'app02' && needs.detect-changes.outputs.app02 == 'true')
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Run Go tests
        run: go test ./... -v
        working-directory: ./lambdas/${{ matrix.lambda }}

  build-and-package:
    needs: detect-changes
    if: contains(fromJSON('["sandbox","development","staging","main"]'), github.base_ref)
    strategy:
      matrix:
        lambda: [app01, app02]
    uses: ./.github/workflows/build-and-package.yml
    with:
      environment: ${{ github.base_ref }}
      lambda_name: ${{ matrix.lambda }}
      changed: |
        ${{ (matrix.lambda == 'app01' && needs.detect-changes.outputs.app01 == 'true') ||
            (matrix.lambda == 'app02' && needs.detect-changes.outputs.app02 == 'true') }}
    secrets: inherit

  # terraform-plan:
  #   needs: build-and-package
  #   uses: ./.github/workflows/terraform-plan.yml
  #   secrets: inherit
  #   with:
  #     environment: ${{ github.base_ref }}
  #     pr_decoration: true
