name: Demo

on:
  pull_request:
    branches: ["sandbox", "development", "staging", "main"]

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      app01: ${{ steps.filter.outputs.app01 }}
      app02: ${{ steps.filter.outputs.app02 }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Detect Lambda changes
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            app01:
              - 'lambdas/app01/**'
            app02:
              - 'lambdas/app02/**'

  lint:
    needs: detect-changes
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        lambda: [app01, app02]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        if: needs.detect-changes.outputs[matrix.lambda] == 'true'
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Download Go dependencies
        if: needs.detect-changes.outputs[matrix.lambda] == 'true'
        run: go mod download
        working-directory: ./lambdas/${{ matrix.lambda }}

      - name: Run Go Lint
        if: needs.detect-changes.outputs[matrix.lambda] == 'true'
        run: |
          go install golang.org/x/lint/golint@latest
          golint ./...
        working-directory: ./lambdas/${{ matrix.lambda }}

  test:
    needs: detect-changes
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        lambda: [app01, app02]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        if: needs.detect-changes.outputs[matrix.lambda] == 'true'
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Download dependencies
        working-directory: ./lambdas/${{ matrix.lambda }}
        run: go mod download

      - name: Ensure dependencies are downloaded
        working-directory: ./lambdas/${{ matrix.lambda }}
        run: go mod tidy

      - name: Run Go tests
        if: needs.detect-changes.outputs[matrix.lambda] == 'true'
        run: go test ./... -v
        working-directory: ./lambdas/${{ matrix.lambda }}

  build-and-package:
    needs: detect-changes
    if: contains(fromJSON('["sandbox","development","staging","main"]'), github.base_ref)
    strategy:
      max-parallel: 1
      matrix:
        lambda: [app01, app02]

    uses: ./.github/workflows/build-and-package.yml
    with:
      environment: ${{ github.base_ref }}
      lambda_name: ${{ matrix.lambda }}
      changed: ${{ needs.detect-changes.outputs[matrix.lambda] == 'true' }}
    secrets: inherit
